<div class= "crop" (click) = "onClick()"
        [style.width.px]= "starWidth" 
        [title]="rating" > <!-- face crop la stelute in functie de width --> 
                        <!--folosesc property binding pentru a da width si pentru a lega stelutele de valoare numerica -->
                        <!--am legat prop lui div de propr clasei componentei-->
        
    <div style="width: 75px">
        <span class="fa fa-star"></span> <!-- font awesone icons-->
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
        <span class="fa fa-star"></span>
    </div>
</div> 