<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    <div class="container-fluid">
      <div class="text-center">
        <img src="./assets/images/welcome1.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </div>
      <div class="text-center">Vinyl Store</div>
      <div class="text-center">
        <h3>Discover Music</h3>
      </div>

      <div class="text-center">Address:</div>
      <div class="text-center">
        <span >127 Cajon St <br/>
          Redlands, CA 92373 <br/>
          United States of America
         </span>
      </div>
    </div>
  </div>
</div>